body {
    margin: 0 auto;
}

.header {
    width: 635px;
    margin: 0 auto;
    font-family: sans-serif;
}

.header_menu {
    list-style: none;
    padding: 16px 0px 16px 0px;
    display: flex;
    align-items: center;
    justify-content: center
}

.header_menu-item {
    margin: 0 60px;
}

.header_menu-item-link {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.main {
    font-family: sans-serif;
}

.main_img {
    width: 100%;
    height: 552px;
    padding: 0;
    margin: 0;
}

.main_content {
    width: 856px;
    height: 680px;
    padding: 20px 0px 62px 0px;
    margin: 0 auto;
}

.main_content-title {
    font-size: 50px;
    text-align: center;
}

.main_content-subtitle {
    text-align: left;
    font-size: 23px;
    font-weight: lighter;
}

.colored_text {
    color: #04959E;
    font-weight: bold;
}

.main_content-list {
    width: 856px;
    padding-left: 20px;
    margin-bottom: 40px;
}

.main_content-list-item {
   font-size: 20px; 
}

.btn_div {
    justify-content: center;
    align-items: center;
    display: flex;
}

.primary_btn {
    background: #04959E;
    padding: 10px 24px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer_text {
    font-family: sans-serif;
    font-weight: lighter;
    text-align: center;
    border-top: solid black;
    border-width: 1px;
    padding: 20px 0px;
    margin: 0;
}